body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 1rem;
    background-color: lightblue;
}

.container {
    background-color: white;
    border: 0.5px solid lightgray;
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 500px;
    max-width: 960px;
    max-height: 500px;
}

.sub-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.square {
    flex-grow: 1;
}

.reset {
    background-color: #fff;
}

input {
    display: inline;
}

button {
    border: none;
    padding: 0.5rem 1rem;
    font-weight: 700;
}

#error {
    padding: 0;
    margin: 0;
    color: red;
}